{% extends "base.html" %}

{% block content %}

<!-- Кнопочки меню здесь -->
<br>
<a href="/" class="btn btn-info">Пицца</a>
<a href="drinks" class="btn btn-info">Напитки</a>
<a href="drinks" class="btn btn-info">Комбо</a>
<br>

<!-- Название блока меню -->
<h1>Напитки</h1>

<!-- Позиции в меню -->
<div class="cont">
    {% for item in dri%}
    <!-- одна позиция -->
    <div class="block">
        <!-- Название -->
        <h3>{{item.title}}</h3>
        <!-- Фото -->
        <img src="{{ item.photo }}" class="image-control">
        <!-- Описание -->
        <p class="text-control">{{ item.content }}</p>
        <div class="cont">
        <!-- Цена -->
        <h4>{{ item.price }} руб.  </h4>
        <a href="/cart/2{{ item.id }}" class="btn btn-outline-info">Добавить</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}